.Header {
    min-height: 250px;
    background-color: #222222;
    padding: 2rem;
    color: #fff;

    h1 {
        font-size: 4rem;
        margin-bottom: 0rem;
        margin-top: 1rem;
    }

    h3 {
        font-weight: 500;
    }

    .search {
        position: relative;
        width: 220px;
        max-width: 100%;

        input {
            width: 100%;
            padding-left: 36px;
            padding-right: 8px;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #373940;
            border: none;
            color: #fff;
            border-radius: 8px;
            font-size: 16px;

            &:hover,
            &:focus {
                outline: none;
            }
        }

        i {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
        }
    }


}