.News {
    padding: 1rem;
    min-height: 64px;
    border-bottom: 1px solid #ccc;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;

    &:hover {
        background-color: #fafafa;

        .deleteBtn {
            opacity: 1;

        }
    }

    .title {
        font-size: 14px;
        color: #333;
        flex: 1 1 100%;
        max-width: 70%;
    }

    .date {
        font-size: 14px;
        color: #333;
        flex: 1 1 100%;
        max-width: 25%;
    }

    .deleteBtn {
        opacity: 0;
        z-index: 1;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 20px;

        @media (pointer:none),
        (pointer:coarse) {
            opacity: 1;

        }

    }

    a {
        color: unset;
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .author {
        color: #999;
        margin: 0px 8px;
        font-weight: 600;

    }


}