.App {
  height: 100%;

  .loadMore {
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      padding: .6rem 1rem;
      border-radius: 16px;
      background-color: #222222;
      color: #fff;
      border: none;
      cursor: pointer;
      box-shadow: 1px 6px 10px rgba(0,0,0,.2);

      &:hover {
        opacity: .94;
      }

      &:active {
        transform: scale(.94);
      }
    }
  }
}